{% extends "layout.html" %}
{% block content %}
    {% for news in news %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ news.author }}</a>
            <small class="text-muted">{{ news.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ news.title }}</a></h2>
          <p class="article-content">{{ news.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}
